@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

nav{
  height:70px;/*brings down the nav height*/
  display:flex;/*puts the links side by side the logo*/
  justify-content:space-between;
  align-items:center;
  padding:0 16px;/*gets the nav links away from the edge of the website so it doesn't look bad */
  background-color:#cafdff;
}

header{
  background-color:#eadcff;
  height: calc(100vh - 70px);
  padding:24px;
  display:flex;
  align-items:center;
  justify-content:center;
}

h1{
  font-size:72px;
}

.subheader{
  font-size:36px;
  margin:16px 0 24px 0
}

button{
  background-color:#05c7cf;
  color:white;
  border:none;
  padding:8px 16px;
  font-size:24px;
  cursor: pointer;
}

a{
  color:black;
  font-size:24px;
  font-weight:700;
}

.logo{
  width:300px;
}

ul{
  display:flex;
}

li{
  list-style-type: none;
  padding-left:16px;
}

.row{
  width:100%;
  max-width:1300px;
  display:flex;
  justify-content:center;
  align-items: center;
  margin:0 auto;
}



/*

ABOUT

*/

#about{
  padding: 48px 0;
  background-color:#f8ffdc;
}

h2{
  font-size:60px;
  text-align:center;
  margin-bottom:20px;
}

.section__description{
  display:flex;
 justify-content: center;
  align-items: center;
}

.section__description--wrapper{
  width:60%;
  padding:0 24px;
}

.about__img--wrapper{
  width:40%
}

img{
  width:100%;
}

.paragraph__1{
  font-size:20px;
  line-height:1.5;
  margin-bottom:8%;
  text-align: left;
  padding-right:10%
}

.paragraph__2{
  font-size:20px;
  line-height:1.5;
  text-align:left;
  padding-right:10%
}


/*

DISCORD

*/

#discord{
  background-color:#cefeff;
  padding:48px 0;
}


/*

CONTACT

*/

#contact{
  background-color:#dce9ff;
}

form{
  width:100%;
  max-width:600px;
 display:flex;
 flex-direction:column;
 margin:0 auto;
 padding:0 16;
}

.button__footer{
  margin-bottom:10%;

}

input,textarea{
  margin-bottom:24px;
  font-size:20px;
  padding:6px 12px;
}


/*

FOOTER

*/

footer{
  background-color:#aaf5ff;
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 24px;
}

.footer__logo{
  max-width:480px;
  margin-bottom:5%;
}

.footer__link{
  padding-left:16px;
}

.footer__links{
  margin-bottom:5%;
}


/*

SMALL PHONES
TABLETS
LARGE SMARTPHONES

*/


@media (max-width:728px) {
  .row{
    flex-direction:column;
  }

  .home__description{
    margin-bottom:24px;
    display:flex;
    flex-direction:column;
  }

  .laptop__img{
    width:70%;
    margin-left:13%
  }

  h1{
    font-size:60px;
    text-align:center
  }

  .subheader{
    text-align: center;
  }
  
  ul{
    display:none;
  }

  .section__description{
    flex-direction:column;
  }

  .section__description--wrapper{
    width:100%
  }

  .about__img--wrapper{
    width:100%;
  }
  #discord .section__description{
    flex-direction:column-reverse;
  }
  #contact{
    padding-top:30px;
  }

  .footer__links{
    display:flex;
  }

  .footer__link{
    padding:0 4px;
    font-size:90%
  }

  .button__footer{
    margin-bottom:10%;
  }




}


















