* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 70px;
  display:flex;
  justify-content:space-between;
}

.logo{
    width:300px
}

ul{
    display:flex;
    justify-content:center;
    align-items:center;
}

li{
    list-style-type: none;
    padding-left: 10px;
}
